/*TO DO: MAKE PRIMARY COLORS*/

/* html {
    scroll-behavior: smooth;
    scroll-padding-top: 140px;

    --primary: #f2c849;
    --secondary: #e7e1df;
    --tertiary: #ea819a;
    --accent: #f3f3f5;
    --text: #404042;
}

body {
    background-color: var(--accent);
} */

body {
  margin: 0;
  padding: 0;
  background-color: lightgray;

  /*   background-image: url("stars.gif");
  background-size: 100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height: 100%;
  width: 100%; */
}

main {
  display: grid;
  grid-template-columns: auto minmax(0, 1000px) auto;
  align-items: center;
  grid-template-rows: auto, auto;
}

@font-face {
  font-family: MagicFont;
  src: url("fonts/harryp__-webfont.woff2") format("woff2"),
    url("fonts/harryp__-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

header {
  display: grid;
  grid-template-columns: auto minmax(0, 1000px) auto;
}

header img {
  padding-top: 2rem;
  margin: auto;
  grid-column: 2/3;
  max-width: 250px;
}

h1 {
  grid-column: 2/3;
  text-align: center;
  font-family: MagicFont, sans-serif;
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

h2 {
  margin-top: 0;
  grid-column: 2/3;
  font-size: 2.5rem;
  text-align: center;
  font-family: MagicFont, sans-serif;
}

#counter_display {
  grid-column: 2/3;
}

.counter_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#searchBar {
  height: 32px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 12px;
}

.buttons_wrapper,
#search_wrapper {
  grid-column: 2/3;
  padding: 1rem;
}

#sorting button {
  padding-inline: 1rem;
  padding-block: 0.3rem;
  margin-block: 1rem;
  background-color: transparent;
  border: none;
}

#sorting button:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #e2b125;
}

main > section {
  grid-column: 2/3;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

article {
  display: grid;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  background-color: white;
  /*  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.3); */
  border-radius: 12px;
  border: solid black 7px;
}

.house_badge {
  max-width: 50px;
  margin: 0;
}

.pic_and_house {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

article #article_button_wrapper {
  justify-self: end;
}

article img {
  margin-right: 10px;
}

.gryffindor {
  color: #e2b125;
}

.slytherin {
  color: white;
}

.rawenclaw {
  color: white;
}

.hufflepuff {
  color: black;
}

.badges {
  display: flex;
}

#is_member,
#is_prefect {
  font-size: 50px;
}

#popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #00000099;
  padding-block: 15em;
  display: none;
  overflow: scroll;
}

.align_center {
  display: flex;
  align-self: center;
}

.align_end {
  text-align: end;
  font-weight: 400;
}

.align {
  text-align: center;
}

#popup_article {
  width: 65%;
  margin: auto;
  border: none;
  color: white;
}

#back,
button.closebutton,
button.clubclosebutton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-weight: bolder;
  font-size: 16px;
}

.popup_wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}

.name_wrapper {
  display: flex;
}

#popup_firstname {
  margin-right: 5px;
  margin-block: 0;
}

#popup_lastname {
  margin-left: 5px;
  margin-block: 0;
}

#popup_nickname {
  margin-block: 0;
}

.hide {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  box-shadow: 1px 1px 10px #333;
  border-radius: 12px;
  padding: 2em;
  background-color: white;
  position: relative;
}

.dialog h1 {
  margin-top: 0;
}

/* 
@media (min-width: 500px) {
  h1 {
    font-size: 2em;
  }

  .firmanavn .logo2 {
    display: block;
  }

  header {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  nav button {
    padding: 1rem 1.4rem;
    font-size: 1em;
    border-radius: 5px 5px 0 0px;
  }

  #popup article {
    width: 50%;
  }

  footer {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
  }

  footer div {
    margin-top: 1rem;
  }
}

@media (min-width: 1000px) {
  #popup article {
    width: 40%;
  }

  nav button {
    padding: 1rem 2rem;
  }
}
 */
