body {
  margin: 0;
  padding: 0;
  background-color: #e7e6e1;
}

main {
  display: grid;
  grid-template-columns: auto minmax(0, 1000px) auto;
  align-items: center;
  grid-template-rows: auto, auto;
}

@font-face {
  font-family: MagicFont;
  src: url("fonts/harryp__-webfont.woff2") format("woff2"),
    url("fonts/harryp__-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  text-align: center;
  font-family: MagicFont, sans-serif;
  font-size: 5rem;
}

h2 {
  text-align: center;
  font-family: MagicFont, sans-serif;
  font-size: 2.5rem;
}

#searchBar {
  height: 32px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 12px;
}

.buttons_wrapper,
#search_wrapper {
  grid-column: 2/3;
  padding: 1rem;
}

#sorting button {
  padding-inline: 1rem;
  padding-block: 0.3rem;
  margin-block: 1rem;
  font-family: MagicFont, sans-serif;
  font-size: 1.5rem;
}

main > section {
  grid-column: 2/3;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

article {
  display: grid;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  background-color: white;
  /*  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.3); */
  border-radius: 12px;
  border: solid black 7px;
}

article #article_button_wrapper {
  justify-self: end;
}

article img {
  margin-block: auto;
  margin-inline: 2rem;
}

#popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #00000099;
  padding-block: 15em;
  display: none;
  overflow: scroll;
}

.align_end {
  text-align: end;
  font-weight: 400;
}

.align {
  text-align: center;
}

#popup article {
  background-color: white;
  width: 65%;
  margin: auto;
}

#back {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-weight: bolder;
  font-size: 16px;
}

.popup_wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}

.name_wrapper {
  display: flex;
}

#popup_firstname {
  margin-right: 5px;
  margin-block: 0;
}

#popup_lastname {
  margin-left: 5px;
  margin-block: 0;
}

#popup_nickname {
  margin-block: 0;
}

.hide {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  box-shadow: 1px 1px 10px #333;
  border-radius: 12px;
  padding: 2em;
  background-color: white;
  position: relative;
}

button.closebutton {
  position: absolute;
  right: -1em;
  top: -1em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.dialog h1 {
  margin-top: 0;
}
